
<li class="repo-item repo-item-{{type}}">
  <a href="#repo-{{repo.id}}-{{name}}" class="repo-filename">{{name}}</a>
  <a href="{{commit.link}}" class="repo-commit">{{commit.description}}</a>
  <span class="repo-timestamp">{{timestamp}}</span>
</li>
